<%- include('layout.ejs'); %>
<div class="container">
    <div class="row pb-4 justify-content-center">
        <div class="col-md-8">
            <h2>The Energy Consumption Helper</h2> 
            <h3>Bem vindo <%= user.name %> </h3>
        </div>
    </div>
    <div class="row pb-4 justify-content-center">
        <div class="col-md-8">
            <h4>Sou TECH, seu ajudante na redução do consumo de energia elétrica. </h4>
            <h4>Vamos começar a economizar?</h4>
        </div>
    </div>
<!--
    <div class="row pb-4 justify-content-center">
        <div class="col-md-8 card">
            <div class="card-header">Estas são suas casas:</div>
            <div class="card-body">

                include('homes.ejs');

            </div>
        </div>
    </div>
-->
    <div class="row pb-4 justify-content-center">
        <div class="col-md-8 card">
            <div class="card-header">1. Adicione uma casa:</div>
            <div class="card-body">

                <form class="form-horizontal" method="post" action="/home/add">
                
                    <div class="form-group">
                        <label for="type" class="cols-sm-2 control-label">Escolha o tipo da casa:</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                <select class="form-control" name="type" id="type" placeholder="Escolha o tipo de casa">
                                    <option value="casa">Casa</option>
                                    <option value="apartamento">Apartamento</option>
                                    <option value="sobrado">Sobrado</option>
                                    <option value="terraço">Terraço</option>
                                    <option value="chácara">Chácara</option>
                                    <option value="escritório">Escritório</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="description" class="cols-sm-2 control-label">Descrição:</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="description" id="description" placeholder="Insira uma descrição" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="rate" class="cols-sm-2 control-label">Tarifa corrente (incluindo impostos):</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                <input type="number" min="0.00" max="10000.00" step="0.01" class="form-control" name="rate" id="rate" placeholder="Tarifa corrente" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group ">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Adicionar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div>
    <a href="/logout"> <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Logout</button> </a>
</div>

</body>

</html>