
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
        </ol>
    </nav>
    <div class="app-title">
        <h1 class="h2">The Energy Consumption Helper</h1>
        <p>Sou TECH, seu ajudante na redução do consumo de energia elétrica.</p>
    </div>

    <h3>Bem vindo <%= user.name %>, esta área é só sua: </h3>

    <div class="row my-4">
        <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
            <div class="card h-100">
                <h5 class="card-header">Propriedades</h5>
                <div class="card-body">
                  <h5 class="card-title">3</h5>
                  <p class="card-text">casas configuradas</p>
                  <p class="card-text text-info">última atualização em out/22</p>
                </div>
              </div>
        </div>
        <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-3">
            <div class="card h-100">
                <h5 class="card-header">Consumo Estimado</h5>
                <div class="card-body">
                  <h5 class="card-title">145 kWh por mês</h5>
                  <p class="card-text">R$ 116,00</p>
                  <p class="card-text text-danger">15.6% de desvio do real</p>
                </div>
              </div>
        </div>
        <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-3">
            <div class="card h-100">
                <h5 class="card-header">Consumo Real</h5>
                <div class="card-body">
                  <h5 class="card-title">167,6 kWh este mês</h5>
                  <p class="card-text">R$ 134,08</p>
                  <p class="card-text text-success">2.6% menor que último mês</p>
                </div>
              </div>
        </div>
        <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-3">
            <div class="card h-100">
                <h5 class="card-header">Economia</h5>
                <div class="card-body">
                  <h5 class="card-title">R$ 27,00</h5>
                  <p class="card-text">em 12 meses</p>
                  <p class="card-text text-success">16% de redução</p>
                </div>
              </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-xl-12 mb-4 mb-lg-0">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5>Estas são suas casas:</h5>
                <div class="card-tools">
                    <button type="button" class="btn btn-primary btn-sm" id="addHouseModalButton" data-toggle="modal" data-target="#addHouseModal">+</button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <%- include('homes.ejs'); %>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-xl-8 mb-4 mb-lg-0">
            <div class="card">
                <h5 class="card-header">Últimas contas de energia</h5>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">Data</th>
                                <th scope="col">Consumo Estimado</th>
                                <th scope="col">Consumo Real</th>
                                <th scope="col">Valor Pago</th>
                                <th scope="col"></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">Abr 2023</th>
                                <td>116 kWh</td>
                                <td>167,6 kWh</td>
                                <td>R$ 134.08</td>
                                <td><a href="#" class="btn btn-sm btn-primary">View</a></td>
                              </tr>
                              <tr>
                                <th scope="row">Mar 2023</th>
                                <td>116 kWh</td>
                                <td>172 kWh</td>
                                <td>R$ 137.60</td>
                                <td><a href="#" class="btn btn-sm btn-primary">View</a></td>
                              </tr>
                              <tr>
                                <th scope="row">Fev 2023</th>
                                <td>108 kWh</td>
                                <td>175 kWh</td>
                                <td>R$ 140,00</td>
                                <td><a href="#" class="btn btn-sm btn-primary">View</a></td>
                              </tr>
                              <tr>
                                <th scope="row">Jan 2023</th>
                                <td>108 kWh</td>
                                <td>157 kWh</td>
                                <td>R$ 125,60</td>
                                <td><a href="#" class="btn btn-sm btn-primary">View</a></td>
                              </tr>
                              <tr>
                                <th scope="row">Dez 2022</th>
                                <td>108 kWh</td>
                                <td>160 kWh</td>
                                <td>R$ 128,00</td>
                                <td><a href="#" class="btn btn-sm btn-primary">View</a></td>
                              </tr>
                              <tr>
                                <th scope="row">Nov 2022</th>
                                <td>108 kWh</td>
                                <td>179 kWh</td>
                                <td>R$ 143,20</td>
                                <td><a href="#" class="btn btn-sm btn-primary">View</a></td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                      <a href="#" class="btn btn-block btn-light">View all</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-4">
            <div class="card">
                <h5 class="card-header">Consumo de energia nos últimos 6 meses</h5>
                <div class="card-body">
                    <div id="consumption-chart"></div>
                </div>
              </div>
        </div>
    </div>

    <div class="modal fade" id="addHouseModal" tabindex="-1" role="dialog" aria-labelledby="addHouseModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addHouseModalTitle">Adicione uma casa:</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form class="form-horizontal" method="post" action="/home/add">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="type" class="cols-sm-2 control-label">Escolha o tipo da casa:</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                <select class="form-control" name="type" id="type" placeholder="Escolha o tipo de casa">
                                    <option value="Casa">Casa</option>
                                    <option value="Apartamento">Apartamento</option>
                                    <option value="Sobrado">Sobrado</option>
                                    <option value="Terraço">Terraço</option>
                                    <option value="Chácara">Chácara</option>
                                    <option value="Escritório">Escritório</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="description" class="cols-sm-2 control-label">Descrição:</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="description" id="description" placeholder="Insira uma descrição" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="rate" class="cols-sm-2 control-label">Tarifa corrente (incluindo impostos):</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                <input type="number" min="0.00" max="10000.00" step="0.01" class="form-control" name="rate" id="rate" placeholder="Tarifa corrente" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Adicionar</button>
                </div>
            </form>
          </div>
        </div>
    </div>
</div>
<div>
    <a href="/logout"> <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Logout</button> </a>
</div>