
body {
padding-top: 120px;
}

.sidebar {
position: fixed;
left: 0;
bottom: 0;
top: 0;
z-index: 100;
padding: 90px 0 0 10px;
border-right: 1px solid #d3d3d3;
box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.left-sidebar {
position: sticky;
top:0;
height: calc(100vh - 70px)
}

.sidebar-nav li .nav-link {
color: #333;
font-weight: 500;
}

a.clickable-card {
    text-decoration: none;
    color: black;
}

a.clickable-card:hover, a.clickable-card:focus  {
    text-decoration: none;
}